<h3>Game - TicTacToe mode: ON</h3>

<%if flash[:notice] %>
  <h1><%= flash[:notice] %></h1>
<% end %>

<div class="center">
  <div class="row">
    <div class="span5 offset1">
      <br>
      <br>
        <table id="tictactoe_grid">
          <% [[0,1,2], [3,4,5], [6,7,8]].each do |c| %>
            <tr>
              <% c.each do |grid_case| %>
                 <td>
                      <% if  is_player_playing(@game, current_user) %>
                        <% result = x_or_o(@game, grid_case)  %>
                        <% if result  %>
                          <%= result  %>
                        <% else %>
                          <%= link_to "+", game_tictactoe_moves_path(@game, case: grid_case), method: :post %>
                        <% end %>
                      <% else%>
                        <%= x_or_o(@game, grid_case) %>
                      <% end%>
                  </td>
              <% end%>
            </tr>
        <% end %>

        </table>
    </div>
  </div>
</div>